{% extends 'sablon.html' %}
{% block content %}
{% load static %} 
<br>
<br>
<br>
<address>
    Sakarya Üniversitesi<br />
    Bilgisayar ve Bilişim Bilimleri Fakültesi<br />
    Bilgisayar Mühendisliği Bölümü<br />
    Oda No:1058<br />
    <abbr title="Phone">Tel:</abbr>
    0 264 295 5502
</address>

<address>
    <strong>Sakarya Üniversitesi:</strong> <a href="mailto:ntasbasi@sakarya.edu.tr">ntasbasi@sakarya.edu.tr</a><br />
    <strong>Sakarya Uygulamalı Bilimler Üniversitesi:</strong> <a href="mailto:ntasbasi@subu.edu.tr">ntasbasi@subu.edu.tr</a>
</address>
{% endblock %}